.dropdown-menu {
  height: 100px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.menu-item {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  color: black;
  justify-content: center;
}

.menu-item.delete {
  color: red;
}

.menu-item:hover {
  background-color: #f1f1f1;
}
