.Login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.Logo_wrapper {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-logo {
  width: 120px; /* 상단 로고 크기 */
  margin-bottom: 10%;
}

.Login_form {
  width: 75%;
  height: 45%;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.Form-logo {
  width: 100px; /* 폼 내 로고 크기 */
  margin-bottom: 5%;
  margin-top: 5%;
}

.Login_Id,
.Login_Pw {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10%;
  border-bottom: 1px solid #e0e0e0;
}

.Login_Id img,
.Login_Pw img {
  width: 20px;
  margin-right: 10px;
}

.Login_Id input,
.Login_Pw input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 14px;
  color: #7f7f7f;
}

.form_button {
  width: 100%;
  background-color: #6248ff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.contact-info {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 12px;
  color: white;
}
