body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* 화면 너비 초과 방지 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  box-sizing: inherit; /* 모든 요소에 동일한 box-sizing 적용 */
}

.Quiz_Number {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 90%;
  font-size: 20px;
  padding: 10%;
}

.Quiz_png {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5%;
  margin-bottom: 25%;
}

.quiz_button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.ox-button {
  width: 40%;
  height: 30%;
  padding: 5%;
}
