.qr {
  display: none;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .qr {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .qr {
    display: block;
  }
}
