@font-face {
  font-family: "SEBANG_Gothic_Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.fotune_header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #03132c;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  align-items: center;
  position: relative; /* absolute에서 relative로 변경 */
  font-family: "SEBANG_Gothic_Bold";
}

.header-left,
.header-right {
  display: flex;
  width: 20%;
  height: 60px;
  color: white;
  font-size: 30px;
  align-items: center;
}

.header-mid {
  display: flex;
  width: 30%;
  height: 30px;
  color: white;
  font-size: 25px;
  align-items: center;
  justify-content: center;
}

.fotune_wrapper {
  display: flex;
  width: 100%;
  padding: 0 3% 0 3%;
  margin-top: 60px; /* header height만큼의 margin 추가 */
  flex-direction: column;
  justify-content: space-around;
  height: 650px;
}

.f_img {
  width: 80px;
  height: 80px;
  padding: 3% 3% 3% 3%;
}
.f_box,
.f_box2,
.f_box3,
.f_box4,
.f_box5,
.f_box6 {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 3% 3% 3% 3%;
  align-items: center;
  border-radius: 50px;
  justify-content: space-around;
  font-size: 12px;
  font-family: "SEBANG_Gothic_Bold";
}
.f_box {
  background-color: pink;
}
.f_box2 {
  background-color: orange;
}
.f_box3 {
  background-color: yellow;
}
.f_box4 {
  background-color: green;
}
.f_box5 {
  background-color: skyblue;
}
.f_box6 {
  background-color: purple;
}
.delete1,
.delete2,
.delete3,
.delete4,
.delete5,
.delete6 {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 40px;
  font-family: "SEBANG_Gothic_Bold";
}
